body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
}
h1 {
  color: pink;
  background-color: hotpink;
}
div.lineOne {
  display: grid;
  grid-template-columns: 100px;
  padding-left: 10px;
}

.logo{
    padding: 10px;
}

.logo:hover {
    background-color: #9370db;
  }

ul {
  font-family: monospace;
  text-align: left;
  padding-left: 0;
  list-style-type: none;
}
li{
    border: 2px dotted hotpink;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

li:hover {
  background-color: #9370db;
}
li:active{
    background-color: lightcoral;
    color:white;
}

a{
    text-decoration: none;
}
